body {
  margin: 0;
  color: #333C4E;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  overflow: auto;
}

.container {
  display: inline-flex;
}

/* .container section {
  width: 50%;
} */
.container section:first-child {
  width: 60%;
}

.container section:first-child img {
  width: 100%;
}

.container section:nth-child(2) {
  width: 40%;
  background: #fff;
  text-align: center;
  padding: 2%;
}

h1 {
  font-family: Avenir-Heavy;
  font-size: 36px;
  color: #333C4E;
  letter-spacing: -0.53px;
  text-align: center;
  line-height: 40px;
  margin: 0 0 40px;
}

.social ul li {
  list-style: none;
  display: inline-block;
  margin: 0 12px;
}

.container .btn {
  background: transparent;
  border-radius: 4px;
  padding: 24px 42px;
  color: #333C4E;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 40px;
  border: solid 2px #333C4E;
}

.container .btn:hover {
  background: #333C4E;
  color: #fff;
}

.logo {
  margin-bottom: 40px;
}

.container p {
  margin-bottom: 40px;
  font-size: 18px;
  margin-top: 0;
}

.social ul li {
  transition: all .2s ease-in-out;
}

.social ul li:hover {
  transform: scale(1.3);
}

h1 br {
  display: none;
}

@media only screen and (max-width: 800px) {
  .container section:first-child {
    display: none;
  }

  .container section:nth-child(2) {
    width: 100%;
    padding: 30px;
    text-align: left;
  }

  h1 {
    text-align: left;
    font-size: 34px;
  }

  h1 br {
    display: block;
  }

  .container p {
    font-size: 16px;
  }

  .container .btn {
    padding: 16px 42px;
  }


}
